doctype html5
html
	head
		title=title
		meta(charset='utf-8')
		meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
		meta(name='apple-mobile-web-app-capable', content='yes')
		link(rel='stylesheet', href='stylesheets/style.css')

		script(type='text/javascript', src='/vendor/jquery-2.1.1.min.js')
		script(type='text/javascript', src="/vendor/fastclick.js")

		script(type='text/javascript', src='/javascripts/index.js')

		script.
			$(function(){
				var app = new App({
					person: !{JSON.stringify(person)}
				});
				app.init();
			});
	body
		.content
			video(poster='/video/poster.png')
				source(src='#{mp4}', type='video/mp4')
				source(src='#{ogg}', type='video/ogg')
				source(src='#{webm}', type='video/webm')

			.overlay
				//- only needed on iPhone/iPod:
				img.endimage(src='/video/end.png')

				.response.thankyou
					p
						| Alvast bedankt.
						br
						| Studio media gaat door op 23 oktober (namiddag).
						br
						| We nemen spoedig contact met u op.
				.response.toobad
					p
						| Jammer.
						br
						| Maar tot zeker een volgende gelegenheid!

				.yesimage

				img.play(src='/images/playbutton.png')


				.choice
					.yes Ik wil er graag bij zijn.
					.no Dit lukt jammer genoeg niet.








